body{
    font-family: "Segoe ui";
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
    padding-top: 10px;
}
.logo{
    font-size: 40px;
    color: #52357B;
    margin: 0;
}

.btn{
    background-color: #52357B;
    color: white;
    padding:15px 60px;
    border-radius: 5px;
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}
.btn:hover{
    background-color: #24084b;
    transition-duration: .4s;
}
.hero{
    text-align: center;
    height: 100vh;
    font-size: 45px;
    overflow: hidden;
}
.hero-container{
    margin: 50vh;
    transform: translate(0, -80%);
}

.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 150px;
    text-align: left;
}
.actionH1{
    font-size: 55px;
}
.actionP{
    font-size: 18px;
    margin: 15px 0;
}

.userSection{
    display: flex;
    justify-items: center;
    text-align: center;
}
.userMain{
    width: 90%;
    margin: auto;
    background-color: #f7936bb4;
    border-radius: 10px;
}
.statistics{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 130px;
    height: 280px;
    font-weight: bold;
}
.number{
    font-size: 90px;
    color: #5c1bb7;
}
h2{
    font-weight: normal;
}

.reviewSection{
    text-align: center;
    padding: 20px 0;
}
.reviews{
    display: flex;
    justify-content: space-around;
    margin: auto;
    flex-wrap: wrap;
    padding: 0 50px 0 50px;
}
.reviewCard{
    text-align: left;
    padding: 15px 30px;
    width: 25%;
    background-color: #0000000e;
    border-radius: 10px;
}

.reviewer{
    display: flex;
    gap: 10px;
    align-items: cen    ter;
}

.reviewer img{
    height: 50px;
    border-radius: 50%;
    }

.contact{
    justify-content: center;
    align-items: center;
    /* gap: 40px; */
    display: flex;
    margin-bottom: 30px;
}
.contact h2{
    font-size: 90px;
    text-align: left;
    font-weight: bold;
}
.contact input{
    display: block;
    width: 750px;
    height: 45px;
    margin: 30px 0;
    padding: 0 20px;
}

.contact input::placeholder{
    font-size: 20px;
}


footer{
    text-align: center;
    padding: 10px;
}
footer p{
    width: 60%;
    margin: auto;
    font-size: 20px;
    margin-bottom: 10px;
}
footer a{
    margin: 0 10px;
    font-size: 20px;
    text-decoration: none;

}